<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="../static/js/jquery-3.5.1.js"></script>

    <script src="../static/js/echarts.min.js"></script>

    <script>
        function cb(selection) {
            $.getJSON({
                url: "/callback", data: { 'data': selection }, success: function (result) {
                    Plotly.newPlot('chart', result, {});;
                }
            });
        }
    </script>
</head>

<body style="font-family:arial, sans-serif">
{#    <div>#}
{#        <ol>#}
{#             <li><h2>简单散点图</h2></li>#}
{#             <li><h2>密度等值线图</h2></li>#}
{#             <li><h2>折线图</h2></li>#}
{#             <li> <h2>直方图</h2></li>#}
{##}
{#             <li><h2>饼状图图</h2></li>#}
{#             <li><h2>极坐标线条图</h2></li>#}
{#             <li><h2>三元散点图</h2></li>#}
{#             <li><h2>散点图</h2></li>#}
{##}
{#             <li><h2>密度热力图</h2></li>#}
{#             <li><h2>气泡图</h2></li>#}
{#             <li><h2>词云图</h2></li>#}
{#             <li><h2>条形图</h2></li>#}
{##}
{#        </ol>#}
{#    </div>#}
    <h1 style="text-align: center;">可视化分布图</h1>
    <div>
        <ul>
            <li>
                <h2>简单散点图</h2>
                <h2>&nbsp;&nbsp;&nbsp;
                    不同种类的花的萼片长与萼片宽的关系图。横坐标是花萼片宽度，纵坐标是花萼片的长度
                    从图中可以看出花的萼片宽度一般处在2---4.5之间，而花的萼片长度在4--8之间。
                    并且花的萼片长度主要集中在4.5--- 7之间，花的萼片宽度主要集中在2.3---3.5之间。
                    根据整个图来看花的萼片长与萼片宽的关系呈现一定的反比相关性。
                    所以并不是花的萼片宽度越宽而花的萼片长度越长，花界中的花大部分都是花的萼片宽度越宽为2.8，花的萼片长度为6左右的。
                </h2>
                <div id="chart" class="chart"></div>
            </li>
            <li>
                <h2>密度等值线图</h2>
                 <h2>&nbsp;&nbsp;&nbsp;
                     不同种类的花的萼片长、萼片宽与的种类关系图。横坐标是花萼片宽度，纵坐标是花萼片的长度，竖坐标是花的种类
                     从图中可以看出花的萼片宽度一般处在2---4.5之间，而花的萼片长度在4--8之间，每个范围大小的花的种类一般也都在二十种以下。
                    并且花的萼片长度主要集中在4.5--- 7之间，花的萼片宽度主要集中在2.3---3.5之间，每个范围大小的花的种类基本上都在四种左右。
                    根据整个图来看花的种类与花的萼片长和萼片宽的关系呈现一定的相关性。
                    所以并不是花的萼片宽度越宽、花的萼片长度越长化的种类越多，花界中的花大部分都是花种类多的都集中在的萼片宽度越宽为3，花的萼片长度为6.5左右的。
                 </h2>
                 <div id="chart1" class="chart1"></div>
            </li>
            <li>
                <h2>折线图</h2>
                 <h2>&nbsp;&nbsp;&nbsp;
                      统计人们网购在京东购买所有的品牌的热水器的评论句的长度分布其中横轴为句子长度，该品牌包括AO、格力、美的、格兰仕、海尔、万和。
                     该图的横坐标为每条评论句的长度，纵坐标为人数。
                     从图上可以看出消费者在对热水器的购买后的评论字数大都在1--60个字之间，很少一部分人的评论字数超过一百字。
                 </h2>
                 <div id="chart2" class="chart2"></div>
            </li>
            <li>
                <h2>直方图</h2>
                 <h2>&nbsp;&nbsp;&nbsp;
                     统计人们网购在京东购买所有的品牌的热水器的评论句的长度分布其中横轴为句子长度。该品牌包括AO、格力、美的、格兰仕、海尔、万和。
                    该图的横坐标为每条评论句的长度，纵坐标为人数。
                从图上可以看出消费者在对热水器的购买后的评论字数大都在1--60个字之间，很少一部分人的评论字数超过一百字。</h2>
                <div id="chart3" class="chart3"></div>
            </li>
            <li>
                <h2>饼状图图</h2>
                 <h2>&nbsp;&nbsp;&nbsp;

                     2020年某时间的中国地区有无感染者的地区或者省的占比关系图。
                     2020年世界爆发严重的疫情，这个地区也深受感染，中国大部分地区都受到不同程度感染，情况紧急，
                     急需统计相关信息。从图中可以看出 01/22/2020 12:00:00中国地区的有无感染者的地区或者省的占比情况，
                     这个地区有73.5%的省受到新冠病毒的的影响，只有26.5%的省没有新冠病毒的的影响。
                     从这里可以看出新冠病毒的的影响力比较大，传播速度之快。
                 </h2>
                 <div id="chart4" class="chart4"></div>
            </li>
             <li>
                 <h2>极坐标线条图</h2>
                 <h2>&nbsp;&nbsp;&nbsp;
                     某地区的不同地方的风力等级，包括方向、强度、数值。
                     从图上可以看出，该地区是一个多风的地方，并且风力强度大都在3--4级以上。
                     离中心位置越近风力等级越大，大风基本上都集中在中心地方的西部地区，而且是一个风力极其不稳定的地方，在中心的北部风较少，而且还是强度非常小的。
                 </h2>
                 <div id="chart5" class="chart5"></div>
            </li>
             <li>
                 <h2>三元散点图</h2>
                 <h2>&nbsp;&nbsp;&nbsp;
                     2013年蒙特利尔市长选举投票结果。三位候选人在各个地区区域的投票总数和各自的票数占比率。
                     从图上可以看出候选人Joly在不同地区的总体投票率在0.4--0.6之间，可支持的地区最少。
                     Coderre在不同地区的总体投票率在0.4--0.8之间，可支持的地区最多。
                     Bergeron在不同地区的总体投票率在0.4--0.6之间，可支持的地区较多。
                     总体来看，Coderre会在2013年蒙特利尔市长选举投票结果中胜出的可能性最大。
                 </h2>
                 <div id="chart6" class="chart6"></div>
            </li>
            <li>
                 <h2>散点图</h2>
                 <h2>&nbsp;&nbsp;&nbsp;
                     不同种类的花的萼片长、萼片宽与的种类关系图。横坐标是花萼片宽度，纵坐标是不同种类的花的花萼片的长度，竖坐标是花的种类
                     从图中可以看出
                     setosa种类的花的萼片宽度一般处在2.8---4.5之间，而花的萼片长度在4--6之间，每个范围大小的花的种类一般也都在5种左右。
                     versicolor种类的花的萼片宽度一般处在2.0---3.5之间，而花的萼片长度在4.8--7之间，每个范围大小的花的种类一般也都在8种左右。
                     virginica种类的花的萼片宽度一般处在2.2---3.8之间，而花的萼片长度在4.8--8之间，每个范围大小的花的种类一般也都在10种左右。
                     总体来看，setosa种类的花的萼片宽而短，virginica种类的花的萼片窄而长，versicolor种类的花的萼宽和长度居中。

                  </h2>
                 <div id="chart7" class="chart7"></div>
            </li>
            <li>
                 <h2>密度热力图</h2>
                 <h2>&nbsp;&nbsp;&nbsp;
                  花的萼片长、萼片宽与的种类关系图。横坐标是花萼片宽度，纵坐标是花萼片的长度，竖坐标是花的种类
                     从图中可以看出花的萼片宽度一般处在2---4.5之间，而花的萼片长度在4--8之间，每个范围大小的花的种类一般也都在二十种以下。
                    并且花的萼片长度主要集中在4.5--- 7之间，花的萼片宽度主要集中在2.3---3.5之间，每个范围大小的花的种类基本上都在四种左右。
                    根据整个图来看花的种类与花的萼片长和萼片宽的关系呈现一定的相关性。
                    所以并不是花的萼片宽度越宽、花的萼片长度越长化的种类越多，花界中的花大部分都是花种类多的都集中在的萼片宽度为3，花的萼片长度为6.3左右的和萼片宽度为3.6，花的萼片长度为5.3左右
                 </h2>
                 </h2>
                 <div id="chart8" class="chart8"></div>
            </li>
            <li>
                 <h2>气泡图</h2>
                 <h2>&nbsp;&nbsp;&nbsp;
               1990年和2015年不同时间的各个国家和时间的人均寿命与GDP关系图。横坐标是GDP数值，纵坐标是不同时间的各个国家得人均寿命。
                     从下图可以看出1990年，japan、Norway、United States、Canada、France、Australia、Germany这些国家的GDP、人均寿命都比较高，可以排在全世界前十名内，GDP都在30000美元，人均寿命在76岁。
                     而China、Turkey、India这些国家的GDP、人均寿命都非常低，可以排在全世界末尾，GDP都在10000美元不到，和一些欧美发达国家相差巨大，人均寿命在65岁，也比发达国家少十年寿命。
                     到了2015年，所以国家的GDP和人均寿命都大幅度增长，变化较明显的是中国，中国的人均寿命从十年前的68岁到78岁，GDP由十年前的10000不到，到现在的20000.
                     总体上来看，欧美一些发达国家的人均寿命和GDP较高，而一些亚非国家的人均寿命和GDP都比较低。同时可以看出人均寿命和国家GDP成正相关，国家GDP越高，人均寿命将越长。

                 </h2>
                 <div id="chart9" class="chart9">
                     <div id="app" style="height: 600px;"></div>
                 </div>
            </li>


             <li>
                 <h2>词云图</h2>
                 <h2>&nbsp;&nbsp;&nbsp;
                     统计人们网购在京东购买所有的品牌的热水器的评论句的词云图，该品牌包括AO、格力、美的、格兰仕、海尔、万和
                    从云图可以看出‘质量', '不错', '，', '需要', '京东', '做好', '配货', '工作', '总体', '感觉', '京东', '商城', '的', '工作', '态度', '很', '认真',出现较多
                     总体来看好评较好
                 </h2>
                 <div id="chart11" class="chart11" style="margin: 0 auto;text-align: center;padding-top: 40px">
                     <div>
                         <img src="../static/img/1.png" alt="词云图"/>
                         <img src="../static/img/2.png" alt="词云图"/>
                     </div>
                     <div>
                         <img src="../static/img/3.png" alt="词云图"/>
                         <img src="../static/img/4.png" alt="词云图"/>
                     </div>
                 </div>
            </li>
            <li>
                <h2>条形图</h2>
                 <h2>&nbsp;&nbsp;&nbsp;
                     不同时间的各个国家和时间的人口数里的关系图。横坐标是人口数量，纵坐标是不同时间的各个国家以及世界。
                     从下图可以看出2010年和2020年世界各国人口在此时假的人口数量。
                     2010年，英国、法国、美国、日本、印度、中国与世界人口分别为6276, 6502, 29034, 12807, 123428, 134091, 630230(万)。
                     2020年，英国、法国、美国、日本、印度、中国与世界人口分别为6783, 6735, 31000, 12626,137543, 141148, 758520(万)。
                     在短短十年间世界人口增加了十二亿八千三百多万人口，其中中国增加了八千万人口，印度增加了一亿四千万人口，美国增加了二千万。
                     在这中间中国一直是世界第一人口大国，世界每五个人就有一个是中国人，其次是第二人口大国的印度，和中国人口少一亿左右。
                 </h2>
                 <div id="chart12" class="chart12" >
                     <div id="main" style="height: 800px"></div>
                  </div>
            </li>
        </ul>
    </div>


</body>

<script>
    d = {{ graphJSON | safe }};
    Plotly.newPlot('chart', d, {});

     d1 = {{ graphJSON1 | safe }};
    Plotly.newPlot('chart1', d1, {});

     d2 = {{ graphJSON2 | safe }};
    Plotly.newPlot('chart2', d2, {});

    d3 = {{ graphJSON3 | safe }};
    Plotly.newPlot('chart3', d3, {});

    d4 = {{ graphJSON4 | safe }};
    Plotly.newPlot('chart4', d4, {});
    {##}
    d5 = {{ graphJSON5 | safe }};
    Plotly.newPlot('chart5', d5, {});

    d6 = {{ graphJSON6 | safe }};
    Plotly.newPlot('chart6', d6, {});
    
    d7 = {{ graphJSON7 | safe }};
    Plotly.newPlot('chart7', d7, {});

    d8 = {{ graphJSON8 | safe }};
    Plotly.newPlot('chart8', d8, {});




</script>

<script>
        var etest=echarts.init(document.getElementById("main"));
        option1 = {
            title: {
                text: '世界人口总量',
                subtext: '数据来自真实网站'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            legend: {
                data: ['2010年', '2020年']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'value',
                boundaryGap: [0, 0.01]
            },
            yAxis: {
                type: 'category',
                data: ['英国', '法国', '美国','日本', '印度', '中国', '世界人口(万)']
            },
            series: [
                {
                    name: '2010年',
                    type: 'bar',
                    data: [6276, 6502, 29034, 12807, 123428, 134091, 630230]
                },
                {
                    name: '2020年',
                    type: 'bar',
                    data: [6783, 6735, 31000, 12626,137543, 141148, 758520]
                }
            ]
        };
        etest.setOption(option1);
    </script>

<script>
    var etest2=echarts.init(document.getElementById("app"));
    var data = [
    [[28604,77,17096869,'Australia',1990],[31163,77.4,27662440,'Canada',1990],[1516,68,1154605773,'China',1990],[13670,74.7,10582082,'Cuba',1990],[28599,75,4986705,'Finland',1990],[29476,77.1,56943299,'France',1990],[31476,75.4,78958237,'Germany',1990],[28666,78.1,254830,'Iceland',1990],[1777,57.7,870601776,'India',1990],[29550,79.1,122249285,'Japan',1990],[2076,67.9,20194354,'North Korea',1990],[12087,72,42972254,'South Korea',1990],[24021,75.4,3397534,'New Zealand',1990],[43296,76.8,4240375,'Norway',1990],[10088,70.8,38195258,'Poland',1990],[19349,69.6,147568552,'Russia',1990],[10670,67.3,53994605,'Turkey',1990],[26424,75.7,57110117,'United Kingdom',1990],[37062,75.4,252847810,'United States',1990]],
    [[44056,81.8,23968973,'Australia',2015],[43294,81.7,35939927,'Canada',2015],[13334,76.9,1376048943,'China',2015],[21291,78.5,11389562,'Cuba',2015],[38923,80.8,5503457,'Finland',2015],[37599,81.9,64395345,'France',2015],[44053,81.1,80688545,'Germany',2015],[42182,82.8,329425,'Iceland',2015],[5903,66.8,1311050527,'India',2015],[36162,83.5,126573481,'Japan',2015],[1390,71.4,25155317,'North Korea',2015],[34644,80.7,50293439,'South Korea',2015],[34186,80.6,4528526,'New Zealand',2015],[64304,81.6,5210967,'Norway',2015],[24787,77.3,38611794,'Poland',2015],[23038,73.13,143456918,'Russia',2015],[19360,76.5,78665830,'Turkey',2015],[38225,81.4,64715810,'United Kingdom',2015],[53354,79.1,321773631,'United States',2015]]
];

option2 = {
    backgroundColor: new echarts.graphic.RadialGradient(0.3, 0.3, 0.8, [{
        offset: 0,
        color: '#f7f8fa'
    }, {
        offset: 1,
        color: '#cdd0d5'
    }]),
    title: {
        text: '1990 与 2015 年各国家人均寿命与 GDP' ,
        left: '5%',
        top: '3%'
    },
    legend: {
        right: '10%',
        top: '3%',
        data: ['1990', '2015']
    },
    grid: {
        left: '8%',
        top: '10%'
    },
    xAxis: {
        splitLine: {
            lineStyle: {
                type: 'dashed'
            }
        }
    },
    yAxis: {
        splitLine: {
            lineStyle: {
                type: 'dashed'
            }
        },
        scale: true
    },
    series: [{
        name: '1990',
        data: data[0],
        type: 'scatter',
        symbolSize: function (data) {
            return Math.sqrt(data[2]) / 5e2;
        },
        emphasis: {
            focus: 'series',
            label: {
                show: true,
                formatter: function (param) {
                    return param.data[3];
                },
                position: 'top'
            }
        },
        itemStyle: {
            shadowBlur: 10,
            shadowColor: 'rgba(120, 36, 50, 0.5)',
            shadowOffsetY: 5,
            color: new echarts.graphic.RadialGradient(0.4, 0.3, 1, [{
                offset: 0,
                color: 'rgb(251, 118, 123)'
            }, {
                offset: 1,
                color: 'rgb(204, 46, 72)'
            }])
        }
    }, {
        name: '2015',
        data: data[1],
        type: 'scatter',
        symbolSize: function (data) {
            return Math.sqrt(data[2]) / 5e2;
        },
        emphasis: {
            focus: 'series',
            label: {
                show: true,
                formatter: function (param) {
                    return param.data[3];
                },
                position: 'top'
            }
        },
        itemStyle: {
            shadowBlur: 10,
            shadowColor: 'rgba(25, 100, 150, 0.5)',
            shadowOffsetY: 5,
            color: new echarts.graphic.RadialGradient(0.4, 0.3, 1, [{
                offset: 0,
                color: 'rgb(129, 227, 238)'
            }, {
                offset: 1,
                color: 'rgb(25, 183, 207)'
            }])
        }
    }]
};
        etest2.setOption(option2);
    </script>
</html>
