<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Responsive Resume Template</title>
  <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<div class="resume-wrapper">
	<section class="profile section-padding">
		<div class="container">
			<div class="picture-resume-wrapper">
        <div class="picture-resume">
        <span>
            <img src="../static/img/aq.jpg" alt="" /></span>
        <svg version="1.1" viewBox="0 0 350 350">

  <defs>
    <filter id="goo">
      <feGaussianBlur in="SourceGraphic" stdDeviation="8" result="blur" />
      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 21 -9" result="cm" />
    </filter>
  </defs>


<g filter="url(#goo)" >

  <circle id="main_circle" class="st0" cx="171.5" cy="175.6" r="130"/>

  <circle id="circle" class="bubble0 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble1 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble2 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble3 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble4 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble5 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble6 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble7 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble8 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble9 st1" cx="171.5" cy="175.6" r="122.7"/>
  <circle id="circle" class="bubble10 st1" cx="171.5" cy="175.6" r="122.7"/>

</g>
</svg>
      </div>
         <div class="clearfix"></div>
 </div>
      <div class="name-wrapper">
        <h1>LVJF</h1><!-- YOUR NAME AND LAST NAME  -->
      </div>
      <div class="clearfix"></div>
      <div class="contact-info clearfix">
      	<ul class="list-titles">
      		<li>Call</li>
      		<li>Mail</li>
      		<li>CSDN</li>
      		<li>Home</li>
      	</ul>
        <ul class="list-content ">
        	<li>+86 123 456 789</li> <!-- YOUR PHONE NUMBER  -->
        	<li>123456124@qq.com</li> <!-- YOUR EMAIL -->
        	<li><a href="#">www.LvJF.com</a></li> <!-- YOUR WEBSITE  -->
            <li>HuBei HuangShi</li>
        </ul>
      </div>
      <div class="contact-presentation"> <!-- YOUR PRESENTATION RESUME  -->
      	<p><span class="bold">School</span> 湖北师范大学 </p>
          <p><span class="bold">Specialty</span> 软件工程 </p>
      </div>
      <div class="contact-social clearfix">
      	<ul class="list-titles">
            <li>Sex</li><!-- 性别-->
      		<li>DOB</li><!-- 出生日期-->
      		<li>SchoolTag</li><!-- 学校-->
      		<li>Education</li><!-- 学历-->
            <li>Address</li><!-- 住址-->
      	</ul>
        <ul class="list-content"> <!-- REMEMBER TO PUT THE URL ON THE HREF TAG  -->
      		<li><a href=""></a>Boy</li> <!-- YOUR TWITTER USER  -->
      		<li><a href="">29/7/1997</a></li> <!-- YOUR DRIBBBLE USER  -->
      		<li><a href="">Hubei Normal University</a></li> <!-- YOUR BEHANCE USER  -->
      	    <li><a href="">Undergraduate</a></li>
            <li><a href="">Hubei HuangShi Hubei Normal University</a></li>

        </ul>
      </div>
		</div>
	</section>

  <section class="experience section-padding">

  	<div class="container">
  		<h3 class="experience-title">Educational Background</h3>

      <div class="experience-wrapper">
      	<div class="company-wrapper clearfix">
      		<div class="experience-title">Time</div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
          <div class="time">2018.09-2019.01</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
      	  <div class="time">2019.03-2022.07</div>
        </div>

        <div class="job-wrapper clearfix">
        	<div class="experience-title">School--Specialty  </div> <!-- JOB TITLE  -->
          <div class="company-description">
          	<p> 湖北师范大学 -----计算机科学与技术专业</p><p> 湖北师范大学 -----软件工程专业</p><!-- JOB DESCRIPTION  -->
          </div>
        </div>
     </div>


    <div class="container">
      <h3 class="experience-title">Professional Curriculum </h3>
        <div class="experience-wrapper">
        <div class="company-wrapper clearfix">
            <div class="experience-title">Correlated Curriculum</div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
        <div class="time">
           <p>C、C++、Java、JavaWeb、Pyhton、数据库、软件测试、数据结构与算法、计算机操作系统、计算机网络、计算机组成原理</p>
        </div>
        </div>

        <div class="job-wrapper clearfix">
            <div class="experience-title">Unrelated Courses</div> <!-- JOB TITLE  -->
          <div class="company-description">
            <p> 高等数学、线性代数、概率论与数理统计、离散数学、数学建模基础、大学物理</p>
          </div>
        </div>
    </div>
     <div>
          <div class="section-wrapper clearfix">
            <h3 class="section-title">Skills</h3>  <!-- YOUR SET OF SKILLS  -->
                <ul>
                    <li class="skill-percentage">HTML / HTML5</li>
                    <li class="skill-percentage">CSS / CSS3 /</li>
                    <li class="skill-percentage">Javascript</li>
                    <li class="skill-percentage">java web</li>
                    <li class="skill-percentage">Spring</li>
                    <li class="skill-percentage">python</li>

                </ul>
          </div>
    </div>
      <div class="section-wrapper clearfix">
          <h3 class="section-title">Self-evaluation</h3>  <!-- DESCRIPTION OF YOUR HOBBIES -->
          <p> 热爱数学、有非常好的逻辑思维处理能力。对软件测试和开发有很高激情，热衷于新的知识学习。</p>
          <p> 热爱软件测试工作，可以胜任重复性工作，工作细致认真、积极主动、有耐心、严谨。</p>
          <p> 乐于学习，积极上进提升自我。</p>
       </div>


  </section>

  <div class="clearfix"></div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js'></script><script  src="../static/js/script.js"></script>

</body>
</html>
