<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodePen - Responsive Resume Template</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<div class="resume-wrapper">
    <section class="profile section-padding">
        <div class="container">
            <div class="picture-resume-wrapper">
                <div class="picture-resume">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="name-wrapper">
                <h1>{{ person.first_name }}</h1><!-- YOUR NAME AND LAST NAME  -->
            </div>
            <div class="clearfix"></div>
            <div class="contact-info clearfix">
                <ul class="list-titles">
                    <li>联系电话</li>
                    <li>个人邮箱</li>
                    <li>CSDN地址</li>
                    <li>个人项目</li>
                </ul>
                <ul class="list-content ">
                    <li>{{ person.tel }}</li> <!-- YOUR PHONE NUMBER  -->
                    <li>{{ person.email }}</li> <!-- YOUR EMAIL -->
                    <li>{{ person.csd }}</li> <!-- YOUR WEBSITE  -->
                    <li>{{ person.address }}</li>
                </ul>
            </div>


            <div class="contact-social clearfix">
                <ul class="list-titles">
                    <li>{{ person.social_media[0].link }}</li><!-- 性别-->
                    <li>{{ person.social_media[1].link }}</li><!-- 出生日期-->
                    <li>{{ person.social_media[2].link }}</li><!-- 学校-->
                    <li>{{ person.social_media[3].link }}</li><!-- 学历-->
                    <li>{{ person.social_media[4].link }}</li><!-- 住址-->
                </ul>

                <ul class="list-content"> <!-- REMEMBER TO PUT THE URL ON THE HREF TAG  -->
                    <li>{{ person.social_media[0].icon }}</li> <!-- YOUR TWITTER USER  -->
                    <li>{{ person.social_media[1].icon }}</li> <!-- YOUR DRIBBBLE USER  -->
                    <li>{{ person.social_media[2].icon }}</li> <!-- YOUR BEHANCE USER  -->
                    <li>{{ person.social_media[3].icon }}</li>
                    <li>{{ person.social_media[4].icon }}</li>

                </ul>
            </div>
            <div class="contact-presentation"> <!-- 自我介绍  -->
                <p>
                    <span class="bold">{{ person.experiences[4].title }}</span>
                     {% for lang in person.experiences[4].timeframe  %}
                         {{ lang }}
                    {% endfor %}
                </p>
            </div>
        </div>
    </section>

    <section class="experience section-padding">

{#        <div class="container">#}
            <h3 class="experience-title">{{ person.experiences[0].title }}</h3>

            <div class="experience-wrapper " style="width: 100%">
                <div class="company-wrapper clearfix" style="width: 100%">
                    <div class="c">
                        <span >{{ person.experiences[0].description }}</span>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span>{{ person.experiences[1].description }} </span>
                    </div>
                    <div>
                        <span> {{ person.experiences[0].timeframe1 }}</span>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span>{{ person.experiences[1].timeframe1 }} </span>
                    </div>
                    <br/>
                    <div>
                        <span>{{ person.experiences[0].timeframe2 }} </span>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span>{{ person.experiences[1].timeframe2 }}</span>
                    </div>
                </div>
            </div>

    {#     主要课程#}
    <div>
        <h3 class="experience-title">{{ person.experiences[2].title }} </h3>
        <div class="experience-wrapper">
            <div class="job-wrapper clearfix " style="width: 100%">
                <div class="c">{{ person.experiences[2].description }}</div>
                <!-- NAME OF THE COMPANY YOUWORK WITH  -->
                <div class="company-description">
                    <p>{{ person.experiences[2].timeframe1 }}</p>
                </div>
            </div>

            <div class="job-wrapper clearfix " style="width: 100%">
                <div class="c">{{ person.experiences[3].description }}</div> <!-- JOB TITLE  -->
                <div class="company-description">
                    <p>{{ person.experiences[3].timeframe1 }}</p>
                </div>
            </div>
        </div>
    </div>
        {#个人技能#}
    <div>
        <div style="clear:both"></div>
        <div class="section-wrapper clearfix" style="width: 100%">
            <h3 class="section-title">{{ person.programming_languages1_name }}</h3>
            <!-- DESCRIPTION OF YOUR HOBBIES -->
            <div>
                <ol>
                     {% for lang in person.programming_languages1 %}
                        <li class="skill-percentage1">{{ lang }}
                     {% endfor %}
               </ol>
            </div>
        </div>
    </div>

        <br/><br/>
        {#个人工作项目#}
        <div class="section-wrapper clearfix" style="width: 100%">
            <h3 class="section-title">个人工作项目</h3>
            <!-- DESCRIPTION OF YOUR HOBBIES -->
            <div>
                <div>
                    <span>项目一:</span>
                    <span>对数据分析的可视化</span>
                </div>
                  <a href="{{ url_for('index') }}">链接地址</a>
            </div>
            <br/>

            <div>
                <div>
                    <span>项目二:</span>
                    <span>在线WEB商城购物系统项目</span>
                </div>
                <div>
                     <span>主要技术：</span>
                    <span>Java、Servlet、JSP、HTML、CSS、SQL、MySQL、JDBC，MVC</span>
                </div>
                 <div>
                     <span>主要工作：</span>
                    <span>使用MVC架构和对JDBC操作，独立开发购物商城项目，对用户信息、商品信息、购物车信息、订单信息、结算处理、以及对数据库的设计及其操作等进行管理。</span>
                </div>
            </div>
            <br/>
        </div>



    </section>

    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js'>

    </script>
    <script src="../static/js/script.js"></script>

</body>
</html>
